@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

@layer base {
  :root {
    --color-primary: 6 107 228;
    --color-primary-light: 10 121 255;
    --color-primary-dark: 4 60 129;
    --color-error: 255 40 25;
    --color-neutral: 96 100 118;
    --color-mono: 3 25 52;
    --color-warning: 255 147 65;
    --color-border: 149 153 169;
    --color-surface: 32 36 44
  }
}

@layer base {
  body {
    font-family: 'Gabarito', sans-serif;
    background-color: white;
    color: var(--color-mono);
    margin: 0;
    padding: 0;
  }
  input {
    /* width: 188px; */
    height: 40px;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid rgb(var(--color-border));
    color: var(--color-border);
    transition: all 0.2s;
    outline: none;
    background-color: white;
    color: var(--color-surface);
  }

  textarea {
    /* width: 244px; */
    height: 120px;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid rgb(var(--color-border));
    transition: all 0.2s;
    outline: none;
    background-color: white;
    color: var(--color-border);
    resize: none;
  }

  h3 {
    font-weight: 700;
    font-style: bold;
    font-size: 28px;
    color: var(--color-mono);
  }
  h4 {
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    color: var(--color-mono);
  }
  h5 {
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    color: var(--color-mono);
  }
}